.inputotp {
  border: 0;
  margin: 0 8px; /* Adjust the margin as needed */
  padding: 15px 25px; /* Adjust the padding as needed */
  /* Adjust the width as needed */
  text-align: center;
  font-size: 20px;
  /* width: 15px !important; */
}

.inputStyle input:focus {
  outline: none;
  border-bottom: 2px solid #007bff; /* Adjust the focus border color as needed */
}
